NODE_ENV=development
PORT=5050
MONGODB_URI=mongodb://localhost:27017/refoond
JWT_SECRET=change_generate_a_long_random_string
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5050
CORS_ORIGIN=http://localhost:5173
COOKIE_MAX_AGE=604800
COOKIE_SECURE=false